{{"<!-- end Contact Area -->" | safeHTML}}
<footer id="footer" class="section-bg">
	<div class="container">
		<div class="row wow fadeInUp" data-wow-duration="500ms">
			<div class="col-xl-12">

				{{"<!-- Footer Social Links -->" | safeHTML}}
				<div class="social-icon">
					<ul class="list-inline">
                        <li class="list-inline-item"><a href="https://wa.me/1748961178"><i><img src="{{site.BaseURL | safeURL }}/images/wa.png" /></a></i></li>
						{{ range site.Params.social }}
						<li class="list-inline-item"><a href="{{ .link | safeURL }}"><i class="{{ .icon }}"></i></a></li>
						{{ end }}
                        
					</ul>
				</div>
                {{"<!-- legal-disclousure -->" | safeHTML}}
				<div class="copyright text-center">
					<a href="{{ site.Home.Permalink }}legal/{{ site.Params.legaldisclosure | safeURL | lower}}">{{ site.Params.legaldisclosure | markdownify }}</a>
					<a href="{{site.BaseURL | absLangURL}}legal/{{ site.Params.dataprotection | safeURL | lower}}">{{ site.Params.dataprotection | markdownify }}</a>
				</div>
				{{"<!-- copyright -->" | safeHTML}}
				<div class="copyright text-center">
					<a href="{{ site.Home.Permalink }}">
						<img src="{{ site.Params.logo | absURL }}" alt="{{ site.Title }}" height="42" />                        
					</a>
                    <a href="https://www.steinrein.com/">
                        <img src="{{site.BaseURL | safeURL }}/images/steinrein.png" alt="Steinrein" height="42" />
                    </a>
                    <br>
					<p>{{ site.Params.copyright | markdownify }}</p>
				</div>                
			</div>
		</div>
	</div>
</footer>
{{"<!-- /footer -->" | safeHTML}}

{{ "<!-- Google Map API -->" | safeHTML }}
{{ if site.Params.map.enable }}
<script src="{{ site.Params.map.gmap_api | safeURL }}"></script>
{{ end }}

{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range site.Params.plugins.js}}
<script src="{{ .link | absURL }}"></script>
{{ end }}

{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify | fingerprint "sha384"}}
<script src="{{ $script.Permalink }}" integrity="{{ $script.Data.Integrity }}"></script>

<!-- cookie -->
{{ if site.Params.cookies.enable }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js"></script>
<div id="js-cookie-box" class="cookie-box cookie-box-hide">
	Wenn Sie diese Seite nutzen, stimmen Sie der Nutzung von Cookies zu. Siehe 
    <a href="{{site.BaseURL | absLangURL}}legal/{{ site.Params.dataprotection | safeURL | lower}}">{{ site.Params.dataprotection | markdownify }}. </a>
    <span id="js-cookie-button" class="btn btn-transparent">Ich verstehe</span>
</div>
<script>
	(function ($) {
		const cookieBox = document.getElementById('js-cookie-box');
		const cookieButton = document.getElementById('js-cookie-button');
		if (!Cookies.get('cookie-box')) {
			cookieBox.classList.remove('cookie-box-hide');
			cookieButton.onclick = function () {
				Cookies.set('cookie-box', true, {expires: {{ site.Params.cookies.expire_days }}	});
				cookieBox.classList.add('cookie-box-hide');
			};
		}
	})(jQuery);
</script>
{{ end }}